# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log
*.log.*
log/

# Virtual environments
venv/
env/
ENV/

# Environment variables and configuration
.env
config.py

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Database files
*.db
*.sqlite
*.sqlite3

# Other
.DS_Store
